*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family:  system-ui;
    width: 100%;
    
}
body{
    width: 100%;
    background-color: #030303de;
    color: white;
}

.none{
    display: none;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-card{
    
    margin: 10px;
}
.form{
    margin-top: 10px;
    margin-bottom: 20px;
}
.form-input{
    margin-right: 5px;
    padding: 5px;
    outline: none;
    border: none;
    border-left: 1px  solid rgb(206, 200, 200) ;
    border-bottom: 1px solid rgb(206, 200, 200);
    border-radius: 10px;
}
.btn-search{
    padding: 5px;
    outline: none;  
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: #030303de;
    color: white;
    font-size: 2.0rem;
    font-weight: bold;
    transition: 1s;
}
.btn-search:hover{
    border: 2px solid white;
}

.card{
    display: block;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 5px rgba(148, 145, 145, 0.11);
    cursor: pointer;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 20px;

    color: white;
}
.card:hover{
    box-shadow: 0px 0px 0px 5px rgb(255, 251, 0);
}
.card-title{
    margin-bottom: 25px;
    font-size: 2.5rem;
    text-align: center;
}
.card-img, img{
    max-width: 500px;
    width: 100%;
}
.card-url{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 1.3rem;
    word-wrap: break-word;
}
.nothing{
    margin-top: 30px;
    font-size: 6.0rem;
    font-weight: bold;
}
.loading{
    margin-top: 30px;
    font-size: 6.0rem;
    font-weight: bold;
}

@media (min-width: 689px ){

    .form-input{
       width: 500px;
       height: 40px;
       font-size: 2.0rem;
    }
    .btn-search{
        width: 100px;
        height: 40px;

    }
    .body-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }
    .title-AnimeList{
        
        margin-left: 40px;
        font-size: 3.0rem;
        align-self: self-start;
    }
    .card{
        margin: 0;
        margin-bottom: 20px;

    }
    
} 